div.content_box	  {margin: 60px 20px}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}




div.content   {margin: 50px auto}

div.priority {margin-top: 5px; padding: 5px; border-top: 1px solid gray; border-bottom: 1px solid gray; font-weight: bold;}
.Open, .Closed, .Ongoing, .Outsourced {background-color: green; padding: 5px; color: white; -moz-border-radius: 5px; text-transform: uppercase; font-weight: bold; font-size: small; float: right; margin-top: 8px;}
.Closed {background-color: red;}

span.Open, span.Closed, span.Ongoing, span.Outsourced {float: none; margin-top: 0; font-size: smaller; font-weight: normal; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:3px 10px;}


ul#chat {
  list-style: none;
  padding: 0;
  width: 700px;
  height: 200px;
  border: solid 1px #777;
  margin: 5px 0;
  overflow: auto;
}

ul#chat li {
  margin: 2px 5px;
  padding: 0;
}

ul#chat li .created_at {
  float: right;
  color: #777;
  font-size: 11px;
  padding-left: 4px;
  padding-top: 2px;
}

.container {width:100%;}
.topbar h3{float:left; margin-left:20px;}
.topbar div > ul, .nav {float:right;}
h1 small {color:#999; margin-left:10px; border-left:#bbb solid 1px; padding-left:10px;}
#user_new {float:right; margin-right:20px;}
.center {text-align:center !important;}

.topbar ul li a.active {
 background-color: rgba(0, 0, 0, 0.5);
}

.image_center { width:185px; margin:200px auto;}

.topbar-inner, .topbar .fill { 
  background-color: #222222;
  background-image: -moz-linear-gradient(center top , #D66565, #9C3031);
  background-image: -webkit-linear-gradient(top, #D66565, #9C3031);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  -moz-box-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

#drawer {
  overflow:visible;
  position:fixed;
  left:0;
  top:50px;
  width: 100%;
}


.page-header {
  margin-top: 90px;
}